header {
  height: 80px;
  /* border: 1px solid; */
  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  background-color: white;
}

.left-section {
  /* border: 1px solid; */
  min-width: 250px;
  display: flex;

  color: rgb(0, 85, 255);
  text-shadow: 2px 2px 2px hsla(205, 100%, 50%, 0.5);
}

.brand-title1 {
  /* border: 1px solid; */
  flex: 1;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-family: monospace;
  font-size: 3rem;
}

.brand-title2 {
  /* border: 1px solid; */
  flex: 1;
  
  display: flex;
  flex-direction: column;
}

.brand-title2a {
  /* border: 1px solid; */
  flex: 1;
  
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.5rem;
}

.brand-title2b {
  /* border: 1px solid; */
  flex: 1;
  
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.5rem;
}

.middle-section {
  /* border: 1px solid; */
  min-width: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-div {
  position: relative;
}

.search-input {
  height: 30px;
  width: 300px;
  padding-left: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px hsla(205, 100%, 50%, 0.5);

  font-family: monospace;
  font-size: 18px;
  font-weight: bold;

}

.search-icon {
  position: absolute;
  right: 10px;
  top: 6px;
  height: 20px;
}

.right-section {
  /* border: 1px solid; */
  min-width: 250px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-icon {
  height: 40px;
  cursor: pointer;
  margin-right: 40px;
}

.cart-icon-div {
  position: relative;
}

.cart-icon {
  height: 40px;
  cursor: pointer;
}

.item-count {
  position: absolute;
  top: -14px;
  right: 7px;
  font-size: 12px;

  background-color: rgb(31, 60, 246);
  color: white;
  padding: 4px 8px;
  border-radius: 50px;
}